* {
  box-sizing: border-box;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #eee;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

body>div:not(:first-child) {
  background-color: white;
  width: 100%;
  padding: 10px 20px;
}

.info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.level {
  width: 200px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items:space-evenly;
  padding: 10px;
}

.profile-pic {
  width: 13 0px;
  height: 130px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 0 0 2px 2px #eee;
}

.level h3 {
  margin-top: 5px;
  margin-bottom: 15px;
  position: relative;
}

.level h3::before {
  content: "";
  width: 160px;
  height:15px;
  background-color: #eee;
  position: absolute;
  top: 110%;
  left: -48px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.level h3::after {
  content: "";
  width: 130px;
  height:15px;
  background-color: #009688;
  position: absolute;
  top: 110%;
  left: -48px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.level p {
  font-size: 12px;
}

span.green {
  color: #009688;
  font-weight: bold;
  font-size: large;
}

.resume {
  width: calc(100% - 200px - 5px);
  background-color: white;
  padding: 10px 20px;
  position: relative;
}

.resume::after {
  content: "140 days in the ship";
  position: absolute;
  bottom: 10px;
  right: 10px;
  opacity: 0.8;
  font-size: 15px;
}

h1 {
  width: fit-content;
  padding: 10px;
  font-size: 25px;
  font-weight: bold;
  background-color: #607d8b;
  color: white;
  margin: 10px 0px 30px 0px;
}

.points p {
  font-size: 16px;
}

.points p:not(:last-child) {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

span.red {
  color: #e91e63;
  font-weight: bold;
}
.throphies {
  display: flex;
  flex-wrap: wrap;
}

.throphies img {
  width: 60px;
  height: 60px;
}

.throphies img#hidden {
  opacity: 0.1;
}

.throphies-imgs {
  width: 100%;
}

span.blue {
  color: #2196f3;
  font-weight: bold;
  font-size: large;
}

.powers div {
  display: flex;
  justify-content: space-between;
}

.powers div:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.yes {
  color: green;
  font-weight: bold;
}

.no {
  color: red;
  font-weight: bold;
}